---
interface Props {
	title: string;
	body: string;
	date: string;
  edited?: string;
  url : string;
}

const { title, body, date , edited, url} = Astro.props;
---

<div class="flex justify-center h-full py-3">
  <a
    href={url}
    <div id="card" class="fold flex-col border rounded md:px-10 px-5 md:py-5 py-2 lg:w-1/2 md:w-4/5 w-11/12 md:h-1/5 h-2/6 border-[#262730] shadow-lg  hover:bg-[#E8E3C2]">
        <div class="md:text-2xl text-lg">{title}</div>
        <div class="text-[#63657E] md:text-base text-sm">{date}</div>
        {edited && <div class="font-bold text-[#63657E] md:text-base text-sm">Edited: {edited}</div>}
        <div class="md:text-xl text-sm md:line-clamp-3 line-clamp-5 text-justify">{body}</div>
    </div>
  </a>
</div>

<style>
  @media (min-width: 	768px)
  {
	.fold{
  
  position: relative;
  text-decoration: none;
  transition: all ease .5s;
}

/*
  paper fold corner
*/

.fold:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 50px 50px 0; /* play with this value for different shapes make it 0  */ /* original was 100px */
  border-color: #E8E3C2 #262730;
  transition: all ease .5s;
  border-radius: 0.25rem;
}

/*
  on li hover make paper fold larger
*/
.fold:hover:before {
  border-width: 0 100px 100px 0; /* original was 150px */
  border-color: #FAF4D3 #262730;
  border-radius: 0.25rem;
}
  }
</style>